/* Set the size of the div element that contains the map */
*{
  box-sizing: border-box;
}
#icono-menu{
  font-size: 30px;
}

iframe .calendario{
  max-width: 100%;
  height: 100%;
}

iframe .mapa{
  max-width: 100%;
  height: 100%;
}

.footer{
  background-color: #FF92E1;
}